.box2 {
  background-color: gold;
}

.box2 div {
  width: 300px;
  color: yellow;
  background-color: black;
  font-weight: 600;
  font-size: 30px;
  line-height: 50p;
  text-align: center;
}

.first {
  width: 300px;
  background-color: #fddddd;
  font-weight: 600;
  font-size: 30px;
  line-height: 50p;
  text-align: center;
  border-bottom: 1px solid brown;
}

.second {
  width: 300px;
  color: black;
  background-color: navajowhite;
  font-weight: 600;
  font-size: 18px;
  line-height: 50p;
  text-align: center;
}

.stateVal2 {
  border-radius: 15px;
}
